@charset "UTF-8";
/* utils*/
/* tipografia*/
/* colores*/
/* tamaño*/
/* Base*/
/* layout*/
/* line 1, ../../../../CODER/comision/CLASE_0_1/scss/layout/_nav.scss */
header {
  font-family: "calibri";
  font-size: 18px;
  font-weight: 700;
}

/* line 6, ../../../../CODER/comision/CLASE_0_1/scss/layout/_nav.scss */
.menu-nav {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

/* line 13, ../../../../CODER/comision/CLASE_0_1/scss/layout/_nav.scss */
.nav-link {
  color: white;
}

/* encabezado(logo, buscador e iconos*/
/* line 17, ../../../../CODER/comision/CLASE_0_1/scss/layout/_nav.scss */
.container-fluid:nth-child(2) {
  background-color: #0ED4B3;
}

/* line 21, ../../../../CODER/comision/CLASE_0_1/scss/layout/_nav.scss */
.container-fluid:nth-child(2) ul li a {
  color: white;
  font-size: 18px;
  font-family: 'calibri';
  font-style: bold;
  font-weight: 1000;
}

/* menu*/
/* line 34, ../../../../CODER/comision/CLASE_0_1/scss/layout/_nav.scss */
.container-fluid:nth-child(1) {
  background: #0ED4B3;
}

/* line 37, ../../../../CODER/comision/CLASE_0_1/scss/layout/_nav.scss */
.container-fluid:nth-child(1) div .btn {
  background: #ffff;
}

/* line 1, ../../../../CODER/comision/CLASE_0_1/scss/layout/_footer.scss */
footer {
  background-color: #0ED4B3;
  color: white;
  font-family: "roboto";
}

/* line 8, ../../../../CODER/comision/CLASE_0_1/scss/layout/_footer.scss */
.iconos-redes {
  justify-items: center !important;
  width: 276px;
}

/* line 1, ../../../../CODER/comision/CLASE_0_1/scss/layout/_header.scss */
header {
  position: sticky;
  top: 0px;
  z-index: 20;
  box-shadow: 5px 0px 15px;
}

/* pages*/
/*  Modificar a mix+ */
/* line 6, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div h2 {
  font-family: 'calibri';
  font-style: bold;
  color: #7A0ED4;
  font-family: 'calibri';
  font-weight: 1000;
}

/* line 14, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div p {
  font-size: 24px;
  font-family: 'calibri';
  font-weight: 300;
}

/* line 24, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div h2 {
  color: #7A0ED4;
  font-size: 40px;
}

/* line 28, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div p {
  font-size: 20px;
}

/* line 36, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
h1 {
  color: #7A0ED4;
  font-family: 'calibri';
  font-size: 100px;
  font-style: bold;
  align-content: center;
  justify-content: center;
  display: flex;
}

/* line 46, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.nosotros-ilustracion {
  height: 500px;
  width: 500px;
}

/* line 51, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.btn {
  margin-bottom: 20px;
}

/* main 1*/
/* line 3, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
main {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 9, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.banner {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 13, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.texto-bienvenida {
  background-image: url("holafondo.svg");
  background-size: 100%;
}

/* line 17, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.hola {
  font-size: "calibri";
  font-size: 5em;
  font-weight: 700;
  padding-left: 100px;
  color: #0ED4B3;
}

/* line 25, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.hola2 {
  color: #7c7a7a;
  font-size: "calibri";
  font-size: 25px;
  padding-left: 200px;
}

/* line 32, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.container:nth-child(4) {
  height: 750px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-top: 0px;
  border-bottom: 0px;
}

/* line 35, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.container:nth-child(5) {
  height: 750px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-top: 0px;
  border-bottom: 0px;
}

/*Fondo de iconos de editoriales*/
/* line 40, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.columna {
  align-content: center;
  color: #7c7a7a;
}

/* line 45, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.columna__imagen {
  width: 200px;
  height: 200px;
  align-content: center;
}

/* line 51, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.columna__ilustracion {
  width: 500px;
  height: 500px;
  align-items: center;
}

/* line 57, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.lista {
  font-size: 16px;
  color: #7c7a7a;
}

/* mapas 1*/
/* line 69, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.fila {
  width: auto;
  height: 635px;
  justify-content: justify-content;
  align-items: justify-content;
  justify-items: center;
  align-content: center;
}

/* FIN mapas 1*/
/*mapas 2*/
/* line 89, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.btn1 {
  width: 100px;
  height: 40px;
  background-color: #7A0ED4;
  color: #ffffff;
}

/*mapas 2*/
/* line 96, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
h4 {
  color: #0ED4B3;
  font-style: bold;
}

/* line 101, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
h2 {
  color: #7A0ED4;
  font-style: bold;
}

/*Iconos*/
/* line 113, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.contenedor-icono li i {
  font-size: 24px;
  width: 30px;
  height: 30px;
  color: white;
}

/*FIN Iconos*/
/* line 125, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.dibujo {
  text-align: center;
  color: #7c7a7a;
}

/* line 130, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.autoestima {
  text-align: center;
  color: #7c7a7a;
}

/* line 135, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.catalogo {
  background-color: #eeedee63;
  height: 600px;
  margin-bottom: 50px;
  text-align: right;
}

/* line 141, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.catalogo-texto {
  font-size: "calibri";
  font-size: 2em;
  font-weight: 700;
  padding-left: 100px;
  color: #0ED4B3;
}

/* line 150, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.catalogo-subtitulo {
  color: #7c7a7a;
  font-size: "calibri";
  font-size: 25px;
  padding-left: 200px;
}

/* line 158, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.recursos {
  background-color: #9A7ACE;
  height: auto;
  margin-bottom: 50px;
  text-align: left;
  padding: 50px 0px 50px 0;
}

/* line 167, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.recursos-texto {
  padding-left: 50px;
}

/* line 170, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.recursos-fila {
  width: 100%;
}

/* line 173, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.recursos-video {
  overflow: hidden;
  padding-bottom: 0px;
  position: relative;
  width: auto;
}

/* line 180, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 188, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.recursos-textos {
  padding: 0px;
}

/* line 192, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.recursos-titulo {
  font-size: "calibri";
  font-size: 5em;
  font-weight: 700;
  color: white;
}

/* line 200, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.recursos-subtitulo {
  color: white;
  font-size: "calibri";
  font-size: 25px;
}

/* line 206, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.suscripcion {
  background-image: url("suscripcionfondo.svg");
  background-size: 100%;
}

/* line 210, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.suscripcion-titulo {
  font-size: "calibri";
  font-size: 5em;
  font-weight: 700;
  color: #0ED4B3;
  text-align: center;
  padding-left: 500px;
  padding-top: 100px;
}

/* line 219, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.suscripcion-iconos {
  width: auto;
  margin-left: 1000px;
  justify-content: right;
  padding-top: 80px;
  padding-bottom: 120px;
}

/* line 227, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.icono-facebook {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 232, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.icono-instagram {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 236, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.icono-youtube {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 241, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.icono-facebook a {
  width: 100%;
  transition: all 300ms;
  position: relative;
}

/* line 246, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.icono-facebook:hover {
  transform: scale(1.15);
}

/* line 249, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.icono-instagram a {
  width: 100%;
  transition: all 300ms;
  position: relative;
}

/* line 254, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.icono-instagram:hover {
  transform: scale(1.15);
}

/* line 257, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.icono-youtube a {
  width: 100%;
  transition: all 300ms;
  position: relative;
}

/* line 262, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.icono-youtube:hover {
  transform: scale(1.15);
}

@media only screen and (min-width: 0px) and (max-width: 319px) {
  /* line 269, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body {
    overflow-x: hidden;
  }
  /* line 271, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body header .menu-icons {
    justify-content: center;
  }
  /* line 273, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body header .menu-icons .contenedor-icono {
    justify-content: center !important;
  }
  /* line 278, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida {
    background-image: url("holafondomobile.svg");
    background-size: 100%;
    text-align: justify;
    padding: 0px;
  }
  /* line 284, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida .hola {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  /* line 289, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida .hola2 {
    width: 80%;
    text-align: justify;
    padding-left: 0px;
    padding-bottom: 230px;
    margin: 0px 0px 0px 35px;
  }
  /* line 297, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) {
    height: 1600px !important;
  }
  /* line 300, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila {
    width: 319px !important;
    height: 1600px;
  }
  /* line 303, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna {
    justify-items: center;
  }
  /* line 306, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna {
    width: 500%;
  }
  /* line 308, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .columna__imagen {
    width: 50%;
    float: left;
  }
  /* line 313, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna h4 {
    font-size: 1em;
  }
  /* line 317, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna p {
    font-size: 12px;
  }
  /* line 321, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .lista {
    font-size: 10px;
  }
  /* line 324, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .btn {
    width: 60px;
    height: 25px;
    font-size: 8px;
    margin-bottom: 0px;
  }
  /* line 335, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo {
    background-color: #eeedee63;
    height: 750px;
  }
  /* line 338, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila {
    height: 700px;
  }
  /* line 340, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-imagen {
    width: 50%;
    align-content: center;
  }
  /* line 344, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-texto {
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: 2em;
  }
  /* line 350, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-subtitulo {
    width: 100%;
    text-align: justify;
    padding: 0px 25px 0px 30px;
  }
  /* line 358, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres {
    padding: 0px;
  }
  /* line 362, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres .talleres-fila .dibujo {
    width: 300px;
  }
  /* line 364, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres .talleres-fila .dibujo .dibujo-img {
    width: 100%;
  }
  /* line 369, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres .talleres-fila .autoestima .autoestima-img {
    width: 100%;
  }
  /* line 375, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos {
    height: 650px;
  }
  /* line 378, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-fila {
    height: 700px;
  }
  /* line 380, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-fila .recursos-texto {
    width: auto;
    text-align: center;
  }
  /* line 383, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-fila .recursos-texto .recursos-titulo {
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: 2em;
  }
  /* line 390, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-fila .recursos-video {
    width: auto;
    padding-top: 0px;
  }
  /* line 394, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-fila .recursos-video iframe {
    width: 300px;
    height: auto;
  }
  /* line 403, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion {
    background-image: url("../Imagenes/suscripcionfondo-mobile.svg");
    background-size: 100%;
    text-align: justify;
    padding: 0px;
  }
  /* line 408, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-titulo {
    width: 100%;
    text-align: center;
    padding: 100px 0px 0px 0px;
    font-size: 3em;
  }
  /* line 414, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos {
    text-align: center;
    width: auto;
    height: 800px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  /* line 420, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-facebook {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 100px 0px 100px;
  }
  /* line 426, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-instagram {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 100px 0px 100px;
  }
  /* line 433, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-youtube {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 100px 0px 100px;
  }
}

/*media para movil 2*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* line 452, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body {
    overflow-x: hidden;
  }
  /* line 454, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body header .menu-icons {
    justify-content: center;
  }
  /* line 456, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body header .menu-icons .contenedor-icono {
    justify-content: center !important;
  }
  /* line 461, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida {
    background-image: url("holafondomobile.svg");
    background-size: 100%;
    text-align: justify;
    padding: 0px;
  }
  /* line 467, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida .hola {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  /* line 472, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida .hola2 {
    width: 80%;
    text-align: justify;
    padding-left: 0px;
    padding-bottom: 230px;
    margin: 0px 0px 0px 35px;
  }
  /* line 480, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) {
    height: 1600px !important;
  }
  /* line 483, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila {
    width: 319px !important;
    height: 1600px;
  }
  /* line 486, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna {
    justify-items: center;
  }
  /* line 489, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna {
    width: 500%;
  }
  /* line 491, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .columna__imagen {
    width: 50%;
    float: left;
  }
  /* line 496, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna h4 {
    font-size: 1em;
  }
  /* line 500, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna p {
    font-size: 12px;
  }
  /* line 504, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .lista {
    font-size: 10px;
  }
  /* line 507, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .btn {
    width: 60px;
    height: 25px;
    font-size: 8px;
    margin-bottom: 0px;
  }
  /* line 518, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo {
    background-color: #eeedee63;
    height: 750px;
  }
  /* line 521, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila {
    height: 700px;
  }
  /* line 523, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-imagen {
    width: 50%;
    align-content: center;
  }
  /* line 527, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-texto {
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: 2em;
  }
  /* line 533, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-subtitulo {
    width: 100%;
    text-align: justify;
    padding: 0px 25px 0px 30px;
  }
  /* line 541, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres {
    padding: 0px;
  }
  /* line 545, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres .talleres-fila .dibujo {
    width: 300px;
  }
  /* line 547, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres .talleres-fila .dibujo .dibujo-img {
    width: 100%;
  }
  /* line 552, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres .talleres-fila .autoestima .autoestima-img {
    width: 100%;
  }
  /* line 558, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos {
    height: 650px;
  }
  /* line 561, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-fila {
    height: 700px;
  }
  /* line 563, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-fila .recursos-texto {
    width: auto;
    text-align: center;
  }
  /* line 566, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-fila .recursos-texto .recursos-titulo {
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: 2em;
  }
  /* line 575, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-fila .recursos-video {
    width: auto;
    padding: 0px 0px 0px 90px;
  }
  /* line 578, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-fila .recursos-video iframe {
    width: 300px;
    height: auto;
  }
  /* line 586, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion {
    background-image: url("../Imagenes/suscripcionfondo-mobile480.svg");
    background-size: 100%;
    text-align: justify;
    padding: 0px;
  }
  /* line 591, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-titulo {
    width: 100%;
    text-align: center;
    padding: 100px 0px 0px 0px;
    font-size: 3em;
  }
  /* line 597, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos {
    text-align: center;
    width: auto;
    height: 800px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  /* line 603, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-facebook {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 190px 0px 100px;
  }
  /* line 609, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-instagram {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 190px 0px 100px;
  }
  /* line 616, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-youtube {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 190px 0px 100px;
  }
}

/* movil 2 */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 631, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body {
    overflow-x: hidden;
  }
  /* line 633, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body header .menu-icons {
    justify-content: center;
  }
  /* line 635, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body header .menu-icons .contenedor-icono {
    justify-content: center !important;
  }
  /* line 640, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida {
    background-image: url("holafondomobile.svg");
    background-size: 100%;
    text-align: justify;
    padding: 0px;
  }
  /* line 646, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida .hola {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  /* line 651, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida .hola2 {
    width: 80%;
    text-align: justify;
    padding-left: 0px;
    padding-bottom: 230px;
    margin: 0px 0px 0px 35px;
  }
  /* line 659, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) {
    height: 1600px !important;
  }
  /* line 662, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila {
    width: 319px !important;
    height: 1600px;
  }
  /* line 665, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna {
    justify-items: center;
  }
  /* line 668, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna {
    width: 500%;
  }
  /* line 670, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .columna__imagen {
    width: 50%;
    float: left;
  }
  /* line 675, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna h4 {
    font-size: 1em;
  }
  /* line 679, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna p {
    font-size: 12px;
  }
  /* line 683, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .lista {
    font-size: 10px;
  }
  /* line 686, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .btn {
    width: 60px;
    height: 25px;
    font-size: 8px;
    margin-bottom: 0px;
  }
  /* line 697, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo {
    background-color: #eeedee63;
    height: 750px;
  }
  /* line 700, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila {
    height: 700px;
  }
  /* line 702, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-imagen {
    width: 50%;
    align-content: center;
  }
  /* line 706, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-texto {
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: 2em;
  }
  /* line 712, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-subtitulo {
    width: 100%;
    text-align: justify;
    padding: 0px 25px 0px 30px;
  }
  /* line 720, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres {
    padding: 0px;
  }
  /* line 724, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres .talleres-fila .dibujo {
    width: 300px;
  }
  /* line 726, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres .talleres-fila .dibujo .dibujo-img {
    width: 100%;
  }
  /* line 731, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres .talleres-fila .autoestima .autoestima-img {
    width: 100%;
  }
  /* line 738, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion {
    background-image: url("../Imagenes/suscripcionfondo-mobile480.svg");
    background-size: 100%;
    text-align: justify;
    padding: 0px;
  }
  /* line 743, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-titulo {
    width: 100%;
    text-align: center;
    padding: 100px 0px 0px 0px;
    font-size: 3em;
  }
  /* line 749, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos {
    text-align: center;
    width: auto;
    height: 800px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  /* line 755, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-facebook {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 190px 0px 100px;
  }
  /* line 761, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-instagram {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 190px 0px 100px;
  }
  /* line 768, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-youtube {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 190px 0px 100px;
  }
}

/* Desktop*/
@media only screen and (min-width: 769px) and (max-width: 1600px) {
  /* line 789, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body {
    overflow-x: hidden;
  }
  /* line 791, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body header .menu-icons {
    justify-content: center;
  }
  /* line 793, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body header .menu-icons .contenedor-icono {
    justify-content: center !important;
  }
  /* line 798, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida {
    background-image: url("holafondomobile.svg");
    background-size: 100%;
    text-align: justify;
    padding: 0px;
  }
  /* line 804, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida .hola {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  /* line 809, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .texto-bienvenida .hola2 {
    width: 80%;
    text-align: justify;
    padding-left: 0px;
    padding-bottom: 230px;
    margin: 0px 0px 0px 35px;
  }
  /* line 817, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) {
    height: 1600px !important;
  }
  /* line 820, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila {
    width: 319px !important;
    height: 1600px;
  }
  /* line 823, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna {
    justify-items: center;
  }
  /* line 826, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna {
    width: 500%;
  }
  /* line 828, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .columna__imagen {
    width: 50%;
    float: left;
  }
  /* line 833, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna h4 {
    font-size: 1em;
  }
  /* line 837, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna p {
    font-size: 12px;
  }
  /* line 841, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .lista {
    font-size: 10px;
  }
  /* line 844, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .container:nth-child(4) .fila .columna col.columna .btn {
    width: 60px;
    height: 25px;
    font-size: 8px;
    margin-bottom: 0px;
  }
  /* line 855, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo {
    background-color: #eeedee63;
    height: 750px;
  }
  /* line 858, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila {
    height: 700px;
  }
  /* line 860, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-imagen {
    width: 50%;
    align-content: center;
  }
  /* line 864, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-texto {
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: 2em;
  }
  /* line 870, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .catalogo .catalogo-fila .catalogo-subtitulo {
    width: 100%;
    text-align: center;
    padding: 0px 25px 0px 30px;
  }
  /* line 878, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres {
    padding: 0px;
  }
  /* line 883, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres .talleres-fila .dibujo .dibujo-img {
    width: 100%;
  }
  /* line 888, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .talleres .talleres-fila .autoestima .autoestima-img {
    width: 100%;
  }
  /* line 894, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos {
    height: auto;
  }
  /* line 896, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-texto {
    text-align: center;
  }
  /* line 899, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-video {
    position: relative;
    overflow: hidden;
    padding-top: 10%;
  }
  /* line 904, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .recursos .recursos-video .iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* line 913, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion {
    background-image: url("../Imagenes/suscripcionfondo-mobile480.svg");
    background-size: 100%;
    text-align: justify;
    padding: 0px;
  }
  /* line 918, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-titulo {
    width: 100%;
    text-align: center;
    padding: 100px 0px 0px 0px;
    font-size: 3em;
  }
  /* line 924, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos {
    text-align: center;
    width: auto;
    height: 800px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  /* line 930, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-facebook {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 190px 0px 100px;
  }
  /* line 936, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-instagram {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 190px 0px 100px;
  }
  /* line 943, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
  body .suscripcion .suscripcion-iconos .icono-youtube {
    width: 100px;
    height: 100px;
    padding: 0px 20px 0px 20px;
    margin: 0px 190px 0px 100px;
  }
}

/* line 1, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
body {
  background-color: #faf9fb;
}

/* line 4, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
.libro-item {
  background-color: #fff;
  padding: 24px;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}

/* line 15, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
.container.page-content {
  max-width: 1200px;
  padding-top: 60px;
}

/* line 19, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
.form-search-wrapper {
  padding-top: 20px;
}

/* line 22, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
#searchform input {
  width: 300px;
  background-position: 10px center;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  padding: 24px 24px 24px 44px;
  width: 100%;
  border: 1px solid #cedadb;
  margin: 0 auto;
  display: block;
  max-width: 740px;
}

/* line 36, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
#q {
  width: 900px;
  height: 50px;
  padding: 24px,24, 24px, 44px;
  border: 1px,1px,1px,1px;
}

/* line 42, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
.subtitulo h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*imagenes de libro*/
/* line 48, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
.columnas-libros {
  padding-right: 30px;
  padding-left: 30px;
}

/* line 52, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
.libro-logo {
  float: none;
  margin: 8px 14px 0 0;
  max-width: 130px;
  max-height: 150px;
}

/* line 58, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
.libro-info {
  margin: 0px;
}

/* line 61, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
.libro-titulo {
  font-weight: 500;
  font-size: 1.3rem;
  color: #0ED4B3;
  margin-bottom: 4px;
}

/* line 68, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
.libro-num-titulo {
  background-color: #eeedee63;
  font-size: .8rem;
  color: #a6b0b0;
  padding: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  text-align: center;
}

/* line 81, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
.libro-autor {
  font-size: .8rem;
}

/* line 84, ../../../../CODER/comision/CLASE_0_1/scss/pages/_categorias.scss */
.libro-descripcion {
  font-size: 14px;
}

/* line 1, ../../../../CODER/comision/CLASE_0_1/scss/pages/_contactos.scss */
.contenedor-img {
  width: 600px;
  height: 500px;
}

/* line 6, ../../../../CODER/comision/CLASE_0_1/scss/pages/_contactos.scss */
.formulario {
  width: 500px;
}

/* line 9, ../../../../CODER/comision/CLASE_0_1/scss/pages/_contactos.scss */
.formulario-titulo {
  text-align: center;
  padding-bottom: 25px;
}

/* line 13, ../../../../CODER/comision/CLASE_0_1/scss/pages/_contactos.scss */
#input-nombre {
  width: 500px;
  height: 50px;
  border-radius: 3px;
  border-color: #eeedee63;
  border-style: groove;
}

/* line 21, ../../../../CODER/comision/CLASE_0_1/scss/pages/_contactos.scss */
#input-email {
  width: 500px;
  height: 50px;
  border-radius: 3px;
  border-color: #eeedee63;
  border-style: groove;
}

/* line 29, ../../../../CODER/comision/CLASE_0_1/scss/pages/_contactos.scss */
#input-telefono {
  width: 500px;
  height: 50px;
  border-radius: 3px;
  border-color: #eeedee63;
  border-style: groove;
}

/* line 37, ../../../../CODER/comision/CLASE_0_1/scss/pages/_contactos.scss */
#input-asunto {
  width: 500px;
  height: 50px;
  border-radius: 3px;
  border-color: #eeedee63;
  border-style: groove;
}

/* line 45, ../../../../CODER/comision/CLASE_0_1/scss/pages/_contactos.scss */
#input-comentario {
  width: 500px;
  height: 120px;
  border-radius: 3px;
  border-width: 2px;
  border-color: #eeedee63;
  border-style: groove;
}

/* line 54, ../../../../CODER/comision/CLASE_0_1/scss/pages/_contactos.scss */
.boton-enviar {
  width: 120px;
  height: 50px;
  margin-left: 200px;
  border-style: none;
  background-color: #9A7ACE;
  border-radius: 5px;
}

/* line 63, ../../../../CODER/comision/CLASE_0_1/scss/pages/_contactos.scss */
.boton-texto {
  color: white;
  margin: 0px;
}

/* line 1, ../../../../CODER/comision/CLASE_0_1/scss/pages/_tiendas.scss */
.subtitulo-tiendas {
  justify-content: center;
  padding-left: 210px;
  padding-bottom: 20px;
  padding-top: 60px;
}

/* line 9, ../../../../CODER/comision/CLASE_0_1/scss/pages/_tiendas.scss */
.lima {
  justify-content: center;
  height: 500px;
}

/* line 14, ../../../../CODER/comision/CLASE_0_1/scss/pages/_tiendas.scss */
.provincias {
  justify-content: center;
  height: 600px;
}

/* line 20, ../../../../CODER/comision/CLASE_0_1/scss/pages/_tiendas.scss */
.tiendas-distritos {
  width: 300px;
  height: 400px;
}

/* line 25, ../../../../CODER/comision/CLASE_0_1/scss/pages/_tiendas.scss */
.tiendas-contenido {
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 450px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 8px 10px 10px 1px rgba(68, 68, 68, 0.5);
}

/* line 34, ../../../../CODER/comision/CLASE_0_1/scss/pages/_tiendas.scss */
.card__image {
  float: none;
  margin: 8px 14px 0 0;
  max-width: 200px;
  max-height: 250px;
}

/* line 42, ../../../../CODER/comision/CLASE_0_1/scss/pages/_tiendas.scss */
.card__title {
  padding-top: 10px;
}

/* line 45, ../../../../CODER/comision/CLASE_0_1/scss/pages/_tiendas.scss */
.btn {
  background-color: #0ED4B3;
}

/* line 48, ../../../../CODER/comision/CLASE_0_1/scss/pages/_tiendas.scss */
.vermapa {
  color: aliceblue;
  padding: 0px;
  margin: 0px;
}

/* line 1, ../../../../CODER/comision/CLASE_0_1/scss/pages/_iniciarsesion.scss */
.iniciarsesion_form {
  height: 380px;
}

/* line 4, ../../../../CODER/comision/CLASE_0_1/scss/pages/_iniciarsesion.scss */
.formulario-sesion {
  width: 660px;
  border-radius: 3px;
  border-color: #eeedee63;
  background-color: white;
}

/* line 11, ../../../../CODER/comision/CLASE_0_1/scss/pages/_iniciarsesion.scss */
.contenerdor-iniciarsesion {
  justify-items: center;
  margin-left: 70px;
}

/* line 15, ../../../../CODER/comision/CLASE_0_1/scss/pages/_iniciarsesion.scss */
.formulario-titulosesion {
  text-align: center;
  padding-bottom: 25px;
}

/* line 19, ../../../../CODER/comision/CLASE_0_1/scss/pages/_iniciarsesion.scss */
#input-nombreusuario {
  width: 500px;
  height: 50px;
  border-radius: 3px;
  border-color: #eeedee63;
  border-style: groove;
}

/* line 27, ../../../../CODER/comision/CLASE_0_1/scss/pages/_iniciarsesion.scss */
#input-contraseña {
  width: 500px;
  height: 50px;
  border-radius: 3px;
  border-color: #eeedee63;
  border-style: groove;
}

/* line 36, ../../../../CODER/comision/CLASE_0_1/scss/pages/_iniciarsesion.scss */
.boton-iniciarsesion {
  width: 120px;
  height: 50px;
  margin-left: 200px;
  margin-top: 20px;
  border-style: none;
  background-color: #9A7ACE;
  border-radius: 5px;
}

/* line 47, ../../../../CODER/comision/CLASE_0_1/scss/pages/_iniciarsesion.scss */
.boton-textosesion {
  color: white;
  margin: 0px;
}

/* line 52, ../../../../CODER/comision/CLASE_0_1/scss/pages/_iniciarsesion.scss */
.custom-radio-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: arial;
}

/* line 59, ../../../../CODER/comision/CLASE_0_1/scss/pages/_iniciarsesion.scss */
.checkbox {
  width: 10px;
}

/* line 19, ../../../../CODER/comision/CLASE_0_1/scss/estilos.scss */
.body {
  background-color: #faf9fb;
}

/* Footer*/
/* line 27, ../../../../CODER/comision/CLASE_0_1/scss/estilos.scss */
.container .row {
  font-size: 10px;
}

/* line 34, ../../../../CODER/comision/CLASE_0_1/scss/estilos.scss */
.cuenta a {
  color: white;
}

/*# sourceMappingURL=estilos.css.map */