@charset "UTF-8";
/* tipografia*/
/* colores*/
/* tamaño*/
/*  body*/
/*  Mixin Card*/
/* line 13, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.btn2 {
  font-family: 'roboto';
}

/*  Modificar a mix+ */
/* line 26, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div h2 {
  font-family: 'calibri';
  font-style: bold;
  color: #7A0ED4;
  font-size: 18px;
  font-family: 'calibri';
  font-weight: 1000;
}

/* line 34, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div p {
  font-size: 24px;
  font-family: 'calibri';
  font-weight: 300;
}

/* line 42, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div .card {
  background-color: #ffff;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px grey;
  align-items: center;
  justify-content: center;
}

/* line 49, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div img:nth-child(1) {
  height: 30%;
  width: 30%;
}

/* line 59, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div h2 {
  color: #7A0ED4;
  font-size: 40px;
}

/* line 63, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div p {
  font-size: 20px;
}

/* line 68, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div img:nth-child(1) {
  height: 60%;
  width: 60%;
}

/* line 76, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container:nth-child(2) h2 {
  color: #7A0ED4;
}

/* line 80, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
h1 {
  color: #7A0ED4;
  font-family: 'calibri';
  font-size: 100px;
  font-style: bold;
  align-content: center;
  justify-content: center;
  display: flex;
}

/* line 2, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
body {
  font-family: 'calibri';
}

/* mapas 1*/
/* line 13, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.home1 {
  width: 1400px;
  height: 600px;
  justify-content: justify-content;
  align-items: justify-content;
}

/* line 26, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.btn1, .btn2 {
  width: 100px;
  height: 40px;
  background-color: #7A0ED4;
  color: #ffffff;
}

/* Mixin card principales*/
/* line 45, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.card {
  background-color: #ffff;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px grey;
  align-items: center;
  justify-content: center;
}

/* line 51, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
h4 {
  color: #7A0ED4;
  font-family: 'calibri';
  font-style: bold;
}

/* line 63, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.contenedor-icono li i {
  font-size: 24px;
  width: 30px;
  height: 30px;
  color: white;
}

/* line 72, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.card {
  width: 60%;
}

/* line 75, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.card-img {
  width: 30px;
  height: 300px;
}

/* line 80, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.container-fluid:nth-child(1) {
  background: #0ED4B3;
}

/* line 83, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.container-fluid:nth-child(1) div .btn {
  background: white;
}

/* line 88, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.container-fluid:nth-child(2) {
  background-color: #0ED4B3;
}

/* line 92, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.container-fluid:nth-child(2) ul li a {
  color: white;
  font-size: 18px;
  font-family: 'calibri';
  font-style: bold;
  font-weight: 1000;
}

/* line 105, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
header {
  position: sticky;
  top: 0px;
  z-index: 20;
  box-shadow: 5px 0px 15px;
}

/* line 116, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.card-group {
  width: 1400px;
  height: 450px;
  margin: 0 auto;
}

/* line 121, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.card-group .card {
  float: left;
  width: 250px;
  margin-bottom: 20px;
}

/* line 125, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.card-group .card img {
  width: 180px;
  margin-top: 10px;
  padding-top: 5px;
}

/* line 131, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.card-group .card-body {
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
}

/* line 137, ../../../../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.card-group .card-body .btn {
  background-color: #7A0ED4;
  color: white;
  outline: none;
}

/* Footer*/
/* line 14, ../../../../../../../CODER/comision/CLASE_0_1/scss/estilos.scss */
footer {
  background-color: #0ED4B3;
  color: white;
  font-family: "roboto";
}

/* line 22, ../../../../../../../CODER/comision/CLASE_0_1/scss/estilos.scss */
.container .row {
  font-size: 10px;
}

/* line 29, ../../../../../../../CODER/comision/CLASE_0_1/scss/estilos.scss */
.cuenta a {
  color: white;
}

/*# sourceMappingURL=estilos.css.map */