@charset "UTF-8";
/* utils*/
/* tipografia*/
/* colores*/
/* tamaño*/
/* Base*/
/* layout*/
/* encabezado(logo, buscador e iconos*/
/* line 3, ../../../../CODER/comision/CLASE_0_1/scss/layout/_nav.scss */
.container-fluid:nth-child(2) {
  background-color: #0ED4B3;
}

/* line 7, ../../../../CODER/comision/CLASE_0_1/scss/layout/_nav.scss */
.container-fluid:nth-child(2) ul li a {
  color: white;
  font-size: 18px;
  font-family: 'calibri';
  font-style: bold;
  font-weight: 1000;
}

/* menu*/
/* line 20, ../../../../CODER/comision/CLASE_0_1/scss/layout/_nav.scss */
.container-fluid:nth-child(1) {
  background: #0ED4B3;
}

/* line 23, ../../../../CODER/comision/CLASE_0_1/scss/layout/_nav.scss */
.container-fluid:nth-child(1) div .btn {
  background: #ffff;
}

/* line 1, ../../../../CODER/comision/CLASE_0_1/scss/layout/_footer.scss */
footer {
  height: 1000px;
}

/* pages*/
/*  Modificar a mix+ */
/* line 6, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div h2 {
  font-family: 'calibri';
  font-style: bold;
  color: #7A0ED4;
  font-family: 'calibri';
  font-weight: 1000;
}

/* line 14, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div p {
  font-size: 24px;
  font-family: 'calibri';
  font-weight: 300;
}

/* line 24, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div h2 {
  color: #7A0ED4;
  font-size: 40px;
}

/* line 28, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.container .row div p {
  font-size: 20px;
}

/* line 36, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
h1 {
  color: #7A0ED4;
  font-family: 'calibri';
  font-size: 100px;
  font-style: bold;
  align-content: center;
  justify-content: center;
  display: flex;
}

/* line 46, ../../../../CODER/comision/CLASE_0_1/scss/pages/_nosotros.scss */
.nosotros-ilustracion {
  height: 500px;
  width: 500px;
}

/* main 1*/
/* line 2, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
main {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 7, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.container:nth-child(3) {
  height: 750px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-top: 0px;
  border-bottom: 0px;
}

/* line 11, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.container:nth-child(4) {
  height: 750px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-top: 0px;
  border-bottom: 0px;
}

/* line 15, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.container:nth-child(5) {
  height: 750px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-top: 0px;
  border-bottom: 0px;
}

/*Fondo de iconos de editoriales*/
/* line 20, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.container-fluid:nth-child(6) {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 26, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.columna {
  align-content: center;
}

/* line 29, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
p.columna__subtitulo {
  color: #7A0ED4;
  font-size: 16px;
  font-style: 14px;
}

/* line 34, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.columna__imagen {
  width: 400px;
  height: 400px;
  align-content: center;
}

/* line 39, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.columna__ilustracion {
  width: 500px;
  height: 500px;
  align-items: center;
}

/* line 44, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.lista {
  font-size: 16px;
}

/* mapas 1*/
/* line 55, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.fila {
  width: 1400px;
  height: 635px;
  justify-content: justify-content;
  align-items: justify-content;
  justify-items: center;
  align-content: center;
}

/* FIN mapas 1*/
/*mapas 2*/
/* line 75, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.btn1 {
  width: 100px;
  height: 40px;
  background-color: #7A0ED4;
  color: #ffffff;
}

/*mapas 2*/
/* line 82, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
h4 {
  color: #7A0ED4;
  font-style: bold;
}

/* line 87, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
h2 {
  color: #7A0ED4;
  font-style: bold;
}

/* line 92, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
h1 {
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: 700;
}

/*Iconos*/
/* line 101, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
.contenedor-icono li i {
  font-size: 24px;
  width: 30px;
  height: 30px;
  color: white;
}

/*FIN Iconos*/
/* line 113, ../../../../CODER/comision/CLASE_0_1/scss/pages/_inicio.scss */
header {
  position: sticky;
  top: 0px;
  z-index: 20;
  box-shadow: 5px 0px 15px;
}

/* Footer*/
/* line 20, ../../../../CODER/comision/CLASE_0_1/scss/estilos.scss */
footer {
  background-color: #0ED4B3;
  color: white;
  font-family: "roboto";
}

/* line 28, ../../../../CODER/comision/CLASE_0_1/scss/estilos.scss */
.container .row {
  font-size: 10px;
}

/* line 35, ../../../../CODER/comision/CLASE_0_1/scss/estilos.scss */
.cuenta a {
  color: white;
}

/*# sourceMappingURL=estilos.css.map */