/*Fuentes */

$titulolibro:"roboto";
$preciolibro:"roboto";
$textoboton:"roboto";

/*Color fuentes */
$titulolibrocolor:"#000000";
$preciolibrocolor:"#000000";
$textobotoncolor:"#FFFFFF";

/*tamaño fuentes */

$titulolibrotamano:"20px";
$preciolibrotamano:"10px";
$textobotontamano:"10px";