/* tipografia*/
$roboto:'roboto';
$calibri:'calibri';

/* colores*/
$blanco:white;
$azul:rgb(22, 39, 77);
$amarillo:#D2A517;
$negro:black;
$gris:rgb(124, 122, 122);
$verde:#0ED4B3;
$lila:#9A7ACE;
$gris2:#eeedee63;
$azul2:#163847;


/* tamaño*/
$ocho:8px;
$diez:10px;
$doce:12px;
$catorce:14px;
$dieciseis:16px;
$dieciocho:18px;
$veinte:20px;
$veinticuatro:24px;
$treintaidos:32px;
$cuarenta:40px;
$cuarentayocho:48;
$cincuentayseis:56px;

