/* utils*/
@import"variantes";
@import"utils/mixins";
/* Base*/
@import'base/Tipografía';
/* layout*/
@import'layout/nav';
@import'layout/footer';
@import'layout/header';
/* pages*/
@import"pages/nosotros";
@import"pages/inicio";
@import"pages/categorias";
@import"pages/contactos";




/* Footer*/
footer{
    background-color: #0ED4B3;
    color: $blanco;
    font-family: $roboto;
    
}

.container{
    .row{
        font-size:$diez ;
    }
   
    }

.cuenta{
a{
    color: $blanco;
}
}
