@import"variantes";
@import"pages/nosotros";
@import"pages/inicio";
@import"pages/categorias";
@import"pages/contactos";







/* Footer*/
footer{
    background-color: #0ED4B3;
    color: $blanco;
    font-family: $roboto;
    
}

.container{
    .row{
        font-size:$diez ;
    }
   
    }

.cuenta{
a{
    color: $blanco;
}
}
