#body{
    font-family:'Montserrat', sans-serif;
}
#header_navbar{
    width:100%;
    background-color: black;
    font-family:'Montserrat', sans-serif;
    padding: 20px 0px 20px 0px;
}
.container-fluir{
    width: 100%;
}
.text-color{
    color: blue;
}

#logo{
    width: 150px;
    height: 110px;
    padding: 10px 0px 10px 0px;
}

.card{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.padre{
    list-style:none;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    
}
.padre__hijo1--text{
    color: aliceblue;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    }
h2{
    color: rgba(252, 164, 4, 1);
}

div{
    border-top-width: 10px;
    border-right-width: 5px;
    border-bottom-width: 10px;
    border-left-width: 5px;

}
#cardprincipal{
    display: grid;
    grid-column-gap:10px ;
    grid-row-gap: 15px;
    
        
}

.card__title{
    font-size: 16px;
}
.description{
    line-height: 1.6;
}
.card__button--text{
    color:rgb(255, 255, 255)
}
a{
    text-decoration:none;
}
.card__button{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius:5px;
    width:180px;
    height: 35px;
    
    
    
}
.card__button--linear{
    border:transparent;
    background-color: rgb(252, 164, 4, 1);
    
}

.ul1{
    list-style:none;
    font-size:0 ;/* truco por el uso de online-block*/
    background:black;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.li1{
    Display: inline-block;
    width:10%;
    position:relative;
    font-size:16px ;
}
.ul1 .ul2{
    position:absolute;
    display: none;
}

.ul1 .ul2 .li2{
    display:block;
    padding: 5px 10px 12px 15px;
}

.ul1 .li1:hover .ul2{
    display:block;
    padding: 10; 
}
.ul1 .li1 .a{text-decoration: none;
    font-size:16px;
    font-family:'Montserrat', sans-serif;
    background-color:black;
    color:white;
    
}
#footerlogos{
    display: flex;  
    flex-direction: row; 
    background-color: white;
    margin-left: 30px;
    margin-right: 400px;
    list-style:none;
    justify-content: space-around;
}

.footerlogos__enlance{
    background-color: white;
}
#footernav{
    background-color: rgb(255, 255, 255);
    

}
.footernav__title{
    background-color: transparent;
    color: black;
    
}
.footernav__orden{
    display: block;
    
}
/*Nosotros*/
#content{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
    
}
.box{
    
    flex-direction:column;
    display: flex;
    text-align: center;
    width: 250px;
    height: 250px;
    

    
}
div.box{
    display: flex;
}
.box1{
    margin-top: 15px;
}
.parrafo1{
    text-align: justify;
    font-family:'Montserrat', sans-serif;
}
.misionvision{
    flex-direction:column;
    display: flex;
    text-align: justify;
    background-color: black;
    color: aliceblue;
    font-family:'Montserrat', sans-serif;
}

.carousel-item{
    width: 100%;
    height: 300px;
}

.form-control{
    width:50px;
}
.texto-tamaño{
    font-size: 0.9em;
}

/*inicio de sesión*/


/*La grilla es desde aqui desktop*/
@media screen and (min-width: 600px) {
#body {
    display: grid;
    grid-template-areas:
    "header header"
    "carrusel carrusel"
    "nav nav"
    "principal principal"
    "footer footer";
    grid-template-rows: 2% 15% 1% auto 5%; 
    grid-template-columns: 100%;
}
#body2 {
    display: grid;
    grid-template-areas:
    "header header"
    "carrusel carrusel"
    "nav nav"
    "principal principal"
    "footer footer";
    grid-template-rows: 2% 20% auto 50%; 
    grid-template-columns: 100%;
}
#body3{
    display: grid;
    font-family:'Montserrat', sans-serif;
    grid-template-areas:
    "header header"
    
    "nav nav"
    "principal principal"
    "footer footer";
    grid-template-rows: 2% 1% auto 5%; 
    grid-template-columns: 100%;
}
.border {
    border: 1px solid black;
}
header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space round;
    
}

footer {
    grid-area: footer;
}
main{
    grid-area: principal;
    
    justify-items: center;
    margin:10rem ;
    
    }

#nav2{
    background-color: rgb(252, 164, 4, 1);
    grid-area: nav;
    
}
.quienessomos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
}
/* mobile +*/
@media only screen and (min-width: 0px) and (max-width:767px){
    #grilla {
        display: grid;
        grid-template-areas:
        "header header"
        "carrusel carrusel"
        "nav nav"
        "principal principal"
        "footer footer";
        grid-template-rows: 1% 1fr 1% auto 10%; 
        grid-template-columns: 1fr;
    }
    
    .border {
        border: 1px solid black;
    }
    header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        width:60% ;
        
        font-size: small;
        
    }

    #header_navbar{
        padding: 0px 0px 0px 0px;

    }
    
    .ul1 .li1 .a{text-decoration: none;
        font-size:10px;
        font-family:'Montserrat', sans-serif;
        background-color:black;
        color:white;
        justify-content: center;
   
    }
  
    .ul1{
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1px 0px 1px 0px;
        margin: 0px 0px 0px 0px;
        border: 0px 0px 0px 0px;

        
    }
    
   

    #logo{
        width: 40%;
    }
    footer {
        grid-area: footer;
    }
    #footerlogos{
        flex-direction: column;
    }
    section{
        grid-area: principal;
        
        }
    #carrusel{
    grid-area: carrusel;
    
    
    }
    .carrusel_img{
        
        image-rendering: crisp-edges ;
        
    }
    #nav2{
        background-color: rgb(235, 90, 90);
        font-family:'Montserrat', sans-serif;
        grid-area: nav;
        
    }
    .padre{
        list-style:none;
        font-size:0 ;/* truco por el uso de online-block*/
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .padre-hijo1{
        Display: inline-block;
        width:10%;
        position:relative;
        font-size:16px ;
        color: cornsilk;
    }
    
    
    .padre .padre-hijo1{
        position:absolute;
        display: none;
    }
    .padre .padre-hijo1.a3{text-decoration: none;
        font-size:16px;
        font-family:'Montserrat', sans-serif;
        color:white;
        
    }

}