body{
    background-color: #faf9fb;
}
.libro-item{
    background-color: #fff;
    padding: 24px;
    border-radius: 6px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
}

.container.page-content{
    max-width: 1200px;
    padding-top: 60px
}
.form-search-wrapper{
    padding-top: 20px;
}
#searchform input{
    width: 300px;
    background-position: 10px center;
    border-radius:4px;
    box-shadow: none;
    font-size: 1rem;
    padding: 24px 24px 24px 44px;
    width: 100%;
    border: 1px solid #cedadb;
    margin: 0 auto;
    display: block;
    max-width: 740px;
}

#q{
    width: 900px;
    height: 50px;
    padding: 24px,24, 24px, 44px;
    border:1px,1px,1px,1px;
}
.subtitulo h2{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/*imagenes de libro*/
.columnas-libros{
    padding-right: 30px;
    padding-left: 30px;
}
.libro-logo{
    float: none;
    margin: 8px 14px 0 0;
    max-width: 130px;
    max-height: 150px;
}
.libro-info{
    margin:0px;
}
.libro-titulo{
    
    font-weight: 500;
    font-size: 1.3rem;
    color: $verde;
    margin-bottom: 4px;
}
.libro-num-titulo{
    
    background-color: #eeedee63;
    font-size: .8rem;
    color: #a6b0b0;
    padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
}
.libro-autor{
    font-size:.8rem ;
}
.libro-descripcion{
  font-size: $catorce ;

}

