.contenedor-img{
    width:600px;
    height: 500px;
    
}
.formulario{
    width: 500px;
}
.formulario-titulo{
    text-align: center;
    padding-bottom: 25px;
}
#input-nombre{
    width: 500px;
    height: 50px;
    border-radius: 3px;
    border-color: $gris2;
    border-style:groove;
    
}
#input-email{
    
    width: 500px;
    height: 50px;
    border-radius: 3px;
    border-color: $gris2;
    border-style:groove;
}
#input-telefono{
    
    width: 500px;
    height: 50px;
    border-radius: 3px;
    border-color: $gris2;
    border-style:groove;
}
#input-asunto{
    
    width: 500px;
    height: 50px;
    border-radius: 3px;
    border-color: $gris2;
    border-style:groove;
}
#input-comentario{
    width: 500px;
    height: 120px;
    border-radius: 3px;
    border-width: 2px;
    border-color: $gris2;
    border-style:groove;

}
.boton-enviar{
    width: 120px;
    height: 50px;
    margin-left: 200px;
    border-style: none;
    background-color:$lila ;
    border-radius: 5px;
    
}
.boton-texto {
    color: $blanco;
    margin: 0px;
}