.contactos{
    margin: 0px;
    width:auto;
    height: auto;
    
}
.img-contacto{
    width:700px;
    height: 500px;
    
}
.fila{
    
    width: auto;
    height: auto;
    
}
.formulario{
    width: auto;
    margin-bottom: 20px;
}
.formulario-titulo{
    text-align: center;
    padding-bottom: 25px;
}
#input-nombre{
    width: 500px;
    height: 50px;
    border-radius: 3px;
    border-color: $gris2;
    border-style:groove;
    
}
#input-email{
    
    width: 500px;
    height: 50px;
    border-radius: 3px;
    border-color: $gris2;
    border-style:groove;
}
#input-telefono{
    
    width: 500px;
    height: 50px;
    border-radius: 3px;
    border-color: $gris2;
    border-style:groove;
}
#input-asunto{
    
    width: 500px;
    height: 50px;
    border-radius: 3px;
    border-color: $gris2;
    border-style:groove;
}
#input-comentario{
    width: 500px;
    height: 120px;
    border-radius: 3px;
    border-width: 2px;
    border-color: $gris2;
    border-style:groove;

}
.boton-enviar{
    width: 120px;
    height: 50px;
    margin-left: 200px;
    border-style: none;
    background-color:$lila ;
    border-radius: 5px;
    
}
.boton-texto {
    color: $blanco;
    margin: 0px;
}
//----------------------Medias queris-------------------------//
@media only screen and (min-width: 0px) and (max-width: 319px) {
    body{
        header{
            .menu-icons{
                justify-content: center;
                .contenedor-icono{
                    justify-content: center !important;
                }
            }
        }
        .fila{
            .contacto-columna{
                display: none;
                .img-contacto{
                    width:400px;
                    height: 200px;
                }
            }
            .formulario{
                
                margin-bottom: 20px;
    
                #input-nombre{
                    width: auto;
                }
                #input-email{
                    width: auto;
                }
                #input-telefono{
                    width: auto;
                }
                #input-asunto{
                    width: auto;
                }
                #input-comentario{
                    width: auto;
                }
                .boton-enviar{
                    margin-left: 0px;
                }
            }
       
        
    }
        
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    
    body{
        header{
            .menu-icons{
                justify-content: center;
                .contenedor-icono{
                    justify-content: center !important;
                }
            }
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    body{
        header{
            .menu-icons{
                justify-content: center;
                .contenedor-icono{
                    justify-content: center !important;
                }
            }
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 1600px){
    body{
        header{
            
                .contenedor-icono{
                    justify-content: center !important;
                }
            }
        }
    }
