.iniciarsesion_form{
    height: auto;
}
.formulario-sesion{
    width: 660px;
    border-radius: 3px;
    border-color: $gris2;
    background-color: $blanco;
    
}
.contenerdor-iniciarsesion{
    justify-items: center;
    margin-left: 70px;
}
.formulario-titulosesion{
    text-align: center;
    padding-bottom: 25px;
}
#input-nombreusuario{
    width: 500px;
    height: 50px;
    border-radius: 3px;
    border-color: $gris2;
    border-style:groove;
    
}
#input-contraseña{
    
    width: 500px;
    height: 50px;
    border-radius: 3px;
    border-color: $gris2;
    border-style:groove;
}

.boton-iniciarsesion{
    width: 120px;
    height: 50px;
    margin-left: 200px;
    margin-top: 20px;
    border-style: none;
    background-color:$lila ;
    border-radius: 5px;

    
}
.boton-textosesion {
    color: $blanco;
    margin: 0px;
}

.custom-radio-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: arial;
}

.checkbox{
    width: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 319px) {
    body{
        header{
            .menu-icons{
                justify-content: center;
                .contenedor-icono{
                    justify-content: center !important;
                }
            }
        }
        .iniciarsesion{
            height: auto;
            margin: 0px;
            padding: 0px;
        }
        #input-nombreusuario{
            width: auto;
        }
        #input-iniciarsesion{
            width: auto;
        }
        #input-contraseña{
            width: auto;
        }
        .boton-iniciarsesion{
            margin-left: 0px;
        }
    }
}
