/* main 1*/
main{
    margin: 0;
    padding: 0;
    border:0;
}

.container:nth-child(4){
    @include espacios;

}
.container:nth-child(5){
    @include espacios;

}
/*Fondo de iconos de editoriales*/
.container-fluid:nth-child(6){
    padding-left: 0px;
    padding-right: 0px;
    
}

.columna{
    align-content: center;
}
p.columna__subtitulo{
    color: $lila;
    font-size: 16px;
    font-style:$catorce;
}
.columna__imagen{
    @include imagenes(400px,400px);
    align-content: center;
    
}
.columna__ilustracion{
    @include imagenes(500px,500px);
    align-items: center;
}

.lista{
    font-size: $dieciseis;
}
/* mapas 1*/
$estilosfilas:(
   width:1400px,
   height:635px,
   center:justify-content,
   centeritem:align-items,

);
.fila{
    width:map-get($estilosfilas, width);
    height:map-get($estilosfilas, height);
    justify-content:map-get($estilosfilas, center);
    align-items:map-get($estilosfilas, center);
    justify-items: center;
    align-content: center;
    
    
}
/* FIN mapas 1*/

/*mapas 2*/
$estilosbotones:(
   width:100px,
   height:40px,
   background-color:#7A0ED4,
   color:#ffffff

);
.btn1{
    width:map-get($estilosbotones, width);
    height:map-get($estilosbotones, height);
    background-color: map-get($estilosbotones,background-color );
    color:map-get($estilosbotones,color);
}
/*mapas 2*/
h4{
    color:#7A0ED4;
    font-style:bold ;

    }
h2{
    color:#7A0ED4;
    font-style:bold;
    
}    
h1{
    padding-bottom: 30px;
    padding-top: 30px;
    font-weight: 700;
}

/*Iconos*/
.contenedor-icono{
    li{
        i{
            font-size:24px ;
            width: 30px;
            height:30px;
            color:$blanco;
        }
    }
}
/*FIN Iconos*/



header{
    position: sticky;
    top:0px;
    z-index: 20;
    box-shadow: 5px 0px 15px;
}



