/*  Modificar a mix+ */
main{
    
    margin: 0;
    padding: 0;
    border:0;
}
.nosotros{
    height: auto;
    .nosotros-fila1{
        height: auto;
        margin: 0px;
        .quees-texto{

            font-family: 'calibri';
            font-style: bold;
            color:$lila;
            font-weight: 1000;
            .quees-titulo{
                font-size: $calibri;
                font-size: 5em;
                font-weight: 700;
                padding-left:100px ;
                color: $verde;;
            }
            .quees-subtitulo{
                color:$gris;
                font-size: $calibri;
                font-size: 25px;
                
            }
        }
        .quees-ilustracion{
            width: 40%;
        }
    }

    }
    .nosotros-fila2{
        height: auto;
        margin: 0px;
        .vision-texto{

            font-family: 'calibri';
            font-style: bold;
            color:$lila;
            font-weight: 1000;
            .vision-titulo{
                font-size: $calibri;
                font-size: 5em;
                font-weight: 700;
                padding-left:100px ;
                color: $verde;;
            }
            .vision-subtitulo{
                color:$gris;
                font-size: $calibri;
                font-size: 25px;
                
            }
        }
        .vision-ilustracion{
            width: 40%;
        }
    
            
    }
    .nosotros-fila3{
        height: auto;
        margin: 0px;
        .mision-texto{

            font-family: 'calibri';
            font-style: bold;
            color:$lila;
            font-weight: 1000;
            .mision-titulo{
                font-size: $calibri;
                font-size: 5em;
                font-weight: 700;
                padding-left:100px ;
                color: $verde;;
            }
            .mision-subtitulo{
                color:$gris;
                font-size: $calibri;
                font-size: 25px;
                
            }
        }
        .mision-ilustracion{
            width: 40%;
        }
    }
        



