/*  Modificar a mix+ */
.container{
    
    .row{
        div{
            h2{
                font-family: 'calibri';
                font-style: bold;
                color:#7A0ED4;
                
                font-family: 'calibri';
                font-weight: 1000;
            }
            p{
                font-size: $veinticuatro;
                font-family: 'calibri';
                font-weight: 300;
            }
        }

    }
    .row{
        div{
            h2{
                color: #7A0ED4;
                font-size: $cuarenta;
            }
            p{
                font-size: $veinte;
            }
        }
        
    }
}

h1{
    color: #7A0ED4;
    font-family: 'calibri';
    font-size: 100px;
    font-style:bold ;
    align-content: center;
    justify-content: center;
    display: flex;
    
}
.nosotros-ilustracion{
    height: 500px;
    width: 500px;
}

