.Tiendas{
    height: auto;
    
}
.tiendas-texto{
    justify-content:center;
    margin: 20px;
    width: auto;
    .tiendas-titulo{
        padding: 0px;
        width: auto;
    }

}

.lima{
    justify-content: center;
    height: auto;
    width: auto;
    margin-bottom: 150px;
    
}
.provincias{
    justify-content: center;
    height:auto;
    width: auto;
    margin-bottom: 150px;
}


.tiendas-distritos{
    width: 300px;
    height: auto;
}

.tiendas-contenido{
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 450px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 8px 10px 10px 1px rgba(68, 68, 68, 0.5);
}
.card__image{
    float: none;
    margin: 8px 14px 0 0;
    max-width: 200px;
    max-height: 250px;
    

}
.card__title{
    padding-top: 10px;
}
.btn{
    background-color:$verde ;
}
.vermapa{
    color: aliceblue;
    padding: 0px;
    margin:0px ;
}