.subtitulo-tiendas{
    justify-content: center;
    padding-left:210px ;
    padding-bottom:20px ;
    padding-top: 60px;

}

.lima{
    justify-content: center;
    height: 500px;
    
}
.provincias{
    justify-content: center;
    height: 600px;
}


.tiendas-distritos{
    width: 300px;
    height: 400px;
}

.tiendas-contenido{
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 450px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 8px 10px 10px 1px rgba(68, 68, 68, 0.5);
}
.card__image{
    float: none;
    margin: 8px 14px 0 0;
    max-width: 200px;
    max-height: 250px;
    

}
.card__title{
    padding-top: 10px;
}
.btn{
    background-color:$verde ;
}
.vermapa{
    color: aliceblue;
    padding: 0px;
    margin:0px ;
}