footer{
    background-color: $verde;
    color: $blanco;
    
    .footerprin{
        
        .footer-central{
            font-family: $calibri;
        
        }
    }
}
.iconos-redes{
    justify-items: center !important;
    width: 276px;
    
}


